.ipynb_checkpoints
*.dat
*/__pycache__/
simulations/illinois/**_RE_sensitivity/*.py
simulations/illinois/**_RE_sensitivity/*_52.txt
simulations/illinois/**_RE_sensitivity/data_files/*.sqlite
run_*.txt
.snakemake/
__pycache__/
